<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qxy.minitiktok">

    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>

        <!-- 允许查询抖音和抖音极速版的软件包信息 -->
        <package android:name="com.ss.android.ugc.aweme" />
        <package android:name="com.ss.android.ugc.aweme.lite" />
    </queries>

    <application
        android:name=".TikTokApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TikTok">
        <activity
            android:name=".douyindemo.DemoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".douyindemo.CallbackActivity"
            android:exported="true"
            android:launchMode="singleTask"/>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>